<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092401962932-7l59j0m3r76qraiuekedpp2d3gvc0aao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092401962932-7l59j0m3r76qraiuekedpp2d3gvc0aao</string>
	<key>API_KEY</key>
	<string>AIzaSyAzJX_FC0Geoy7CxaBWiZBhEnrEOICXqCE</string>
	<key>GCM_SENDER_ID</key>
	<string>1092401962932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseapp.jaus1ebdf</string>
	<key>PROJECT_ID</key>
	<string>jaus-1ebdf</string>
	<key>STORAGE_BUCKET</key>
	<string>jaus-1ebdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092401962932:ios:e11d63ddf9f9d7d13e1ce1</string>
</dict>
</plist>